MISTRAL_API_KEY="7P3DuCAQzA2O9AcwQDjmDGLBt7SQp4MU"
TRUELAYER_CLIENT_ID="fiscalia-d5d07d"
TRUELAYER_CLIENT_SECRET="59f122a2-b8d1-491d-b5a3-6d376d295cd9"
TRUELAYER_ENV="live"
DATABASE_URL="postgresql://postgres.lqxfjjtjxktjgpekugtf:postgres@aws-0-eu-west-3.pooler.supabase.com:5432/postgres"
SUPABASE_URL="https://lqxfjjtjxktjgpekugtf.supabase.co"
SUPABASE_SERVICE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxeGZqanRqeGt0amdwZWt1Z3RmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0Nzc5ODIwMywiZXhwIjoyMDYzMzc0MjAzfQ.8VWgJlJJGDmziDaRnxY-OedIXMD7DO9xgZsIxcVUVc0"
JWT_SECRET="e053030378e1f04e54e63def5b884b1ed98bc8c0185d643e451a2c5d15d55b08"
STRIPE_SECRET_KEY="sk_test_your_stripe_secret_key_here"
STRIPE_ENDPOINT_SECRET="whsec_2bMwLAHWNeg4qOnU5p17lYBceqAeSkUy"
TRUELAYER_REDIRECT_URI="https://fiscal-ia.net/truelayer-callback"
ELEVENLABS_API_KEY="sk_264da6b2834cab0467047726cd9c347d67504cca040d7854"
SITE_URL="https://fiscal-ia.net" 