{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "electron": "28.0.0"
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }],
    ["@babel/plugin-transform-class-properties"],
    ["@babel/plugin-transform-react-jsx", {
      "runtime": "automatic"
    }]
  ]
}
